/**
 * Add your style here
 */


 .mx-container-1 , .mx-container-2{
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important ;
    margin: 0 auto !important;
}
.mx-container-4{
    margin-bottom: 25%;
}

.hero h1{
    color: rgb(245, 93, 22);
}



 .carousel-caption{
     padding: 30px 15px 100px !important;
 }

 .carousel-inner > .item > img {
     width: 100% !important;
     height: 70vh !important;
 }
 .mx-trip-guide-content {
}
.mx-trip-guide-content h3{
  color: rgb(19, 51, 66);
}
 .mx-trip-guide-item {
   background: #c1c1c1;
   border: 1.5px solid #2c2c2c;
   border-radius: 0 0 .50rem .50rem;
   -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   position: relative;
   transform: scale(1);
}

.mx-trip-guide-item:hover {
   transform: scale(0.99);
}
 .mx-trip-guide-image img{
  width: 100%;
  height: 25vh;
  transform: scale(1.1);
  transition: transform 1000ms ease;
}
.mx-trip-guide-image img:hover{
   transform: scale(1);
}

.mx-trip-guide-person {
   line-height: 1;
   padding: 0 15px 1px;
   border-bottom: 4px solid #3f3f3f;
   border-top: 1px solid #414142;
   margin-left: -15px;
   margin-right: -15px;


}
.mx-trip-guide-person-color {
   position: relative;
}

.mx-trip-guide-person i{
   width: 40px;
   height: 40px;
   font-size: 1.5em;
   float: left;
   overflow: hidden;
   color: #2e2b29 ;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.mx-trip-guide-person p {
   margin: 0;
   line-height: 1.2;
   margin-left: 50px;
   font-size: 15px;
}

.mx-trip-guide-person p.name {
   margin-top: 10px;
   font-weight: 600;
   font-size: 1em;
   color: rgb(0, 0, 0);
}

.mx-trip-guide-person p.name span{
   margin-top: 10px;
   font-weight: 600;
   font-size: 1em;
   color: rgb(255, 102, 0);
}

.mx-trip-guide-person .color-ico{
}
.mx-trip-guide-person .color-txt{
   position: absolute;
   width: 50%;
   left: 5%;
}
.mx-trip-guide-person .color-fill{
   width: 20px;
   height: 20px;
   margin: auto 0;
   position: absolute;
   left:53%;
   top:25%;
   bottom:25%;
   border: 2px solid rgb(22, 22, 22) ;
   -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   border-radius: .90rem;
}

.mx-price{
   margin-top: 10px;
}

[class*=GridLex-grid]>[class*=_mx-widget] {
   height: 30em;
   width: 10%;
}

.mx-breadcrumb-image-bg {
   text-align: center;
   color: #FFF;
   line-height: 1.2;
   padding: 100px 0 0;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 5px;
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.mx-bg{
    text-align: center;
    color: #FFF;
    line-height: 1.2;
    padding: 100px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
 clip-path: polygon(0 0%, 100% 0% , 100% 84%, 0% 100%);
}

.mx-breadcrumb-image-bg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 234, 0.24);
    content: "";
 }
 .mx-breadcrumb-image-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    content: "";
    clip-path: polygon(0 1%, 100% 0% , 100% 100%, 0% 84%);
 }
.mx-breadcrumb-image-bg h2 {
   color: rgb(255, 102, 0);
   line-height: 1.2;
   margin: 0 auto;
   font-size: 42px;
   font-weight: 600;
}
.mx-breadcrumb-image-bg p{
   margin-top: 10px;
   font-size: 18px;
   letter-spacing: 0.5px;
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.mx-breadcrumb-image-bg .mx-row{
  /* margin-right: -15px ;
   margin-left: -15px;
   margin-bottom: 100px; */
}

.mx-pt-30{
   padding-top: 1px !important;
}

@media only screen and (min-width: 1200px) {
   .mx-container-1{
       width: 100% !important;
   }
   .mx-container-2{
       width: 90% !important;
   }

}
@media only screen and (min-width: 920px) {
   .mx-container-1{
       width: 100% !important;
   }
   .mx-container-2{
       width: 90% !important;
   }

}
@media only screen and (min-width: 768px) {
   .mx-container-1{
       width: 100% !important;
   }
   .mx-container-2{
       width: 90% !important;
   }

}

@media only screen and (max-width: 767px) {
   [class*=GridLex-grid]>[class*=_mx-widget] {
       -webkit-flex-basis: 100%;
       -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
       max-width: 100% ;
       height: 35em;
   }

   .mx-trip-guide-person .color-fill{
       left:190px;
       top:25%;
       bottom:25%;
       border-radius: .90rem;
   }
   }
   @media only screen and (max-width: 268px) {

       .mx-trip-guide-person .color-fill{
           left:80%;
           top:25%;
           bottom:25%;
           border-radius: .90rem;
       }
       }
@media only screen and (max-width: 250px) {
   [class*=GridLex-grid]>[class*=_mx-widget] {
       -webkit-flex-basis: 100%;
       -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
       max-width: 100% ;
       /* mx-ch */
       height: 100vh;
   }


   }


/* start of details design */
[class*=GridLex-grid-mx]{
   align-self: center;
   border-width: 1px 5px;
   border-radius: .90rem;
   -webkit-box-shadow: inset 1px 0px 6px 1px rgba(0,0,0,1);
   -moz-box-shadow: inset 1px 0px 6px 1px rgba(0,0,0,1);
   box-shadow: inset 1px 0px 6px 1px rgba(0,0,0,1);

   transform: scale(1);
   transition: all 500ms ease ;
}
[class*=GridLex-grid-mx]:hover{
   transform: scale(0.99);

}
[class*=GridLex-grid-mx]>[class*=_sm-4-mx] {
   flex-basis: auto;
   max-width: none;
}

[class*=GridLex-grid-mx] .txt-box-infos{

   width: 80%;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   padding-left: 1em;
}

[class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail {
   color: rgb(32, 32, 32);
   font-size: 1.2em;
   font-weight: bold;
}

[class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail span{
   color: rgb(252, 147, 10);
   font-size: 1.2em;
   width: 10%;
}



[class*=GridLex-grid-mx] i{
   font-size: 1em;
   color: #ffbb00;
}
.featured-icon-simple-item .mx-icone{

   margin-bottom: 0px;
   padding: .1em;
   font-size: 2.5em;
}

h3.section-title-mx{

}

[class*=GridLex-grid-mx][class*=-equalHeight]>[class*=GridLex-col-mx]{
   width: 100%;
   display: flex;
   justify-content: start;
   flex-direction: row;
   margin: auto 0;
}



.GridLex-gap-30-mx > div > div > div{
margin: 0;
}


.col-md-9-mx{
   width: 100%;
   float: none;
}

.mx-dtl-breadcrumb-image-bg{
   border: 1px solid #1C1C1F;
   border-radius: .90rem;
}
.mx-dtl-breadcrumb-image-bg::before {
   position: absolute;
   border-radius: .90rem;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   content: "";
}

/**/
.mx-color-trip-guide-person {
   line-height: 1;
   padding: 0 15px 1px;
   margin-left: -15px;
   margin-right: -15px;
   height: 100%;
   width: 80%;
   position: relative;

}



.mx-color-trip-guide-person p {
   margin: 0;
   line-height: 1.2;
   font-size: 15px;
}

.mx-color-trip-guide-person p.name {
   position: absolute;
   left:1%;
   top:25%;
   font-weight: 600;
   font-size: 1em;
   color: rgb(0, 0, 0);
}

.mx-color-trip-guide-person p.name span{
   margin-top: 10px;
   font-weight: 600;
   font-size: 1em;
   color: rgb(255, 102, 0);
}

.mx-color-trip-guide-person .color-txt{
   position: absolute;
   left: 1%;
}
.mx-color-trip-guide-person .color-fill{
   width: 40%;
   height: 16px;
   position: absolute;
   left:50%;
   top:25%;
   bottom:25%;
   border: 2px solid rgb(22, 22, 22) ;
   -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   border-radius: .90rem;
}

.mx-btn-reserver{
   margin: 10px;
   float: right;
   overflow: hidden;
   transform: scale(1);
}
.mx-btn-reserver:hover{
   transform: scale(1.1);
}

.imgs-grid-image{
   width: 25% !important;
   border-radius: .90rem;
   -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   transform: scale(1);
}
.imgs-grid-image > .image-wrap{
   height: 35vh !important;
   border: 3px solid #adadb9;
   border-radius: .90rem;
}
.imgs-grid-image:hover{
   transform: scale(0.96);
}

.imgs-grid-image > .image-wrap > img{
   height: 35vh !important;

}
/*
@media only screen and (max-width: 990px) {

[class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail {
   color: rgb(32, 32, 32);
   font-size: .9em;
   font-weight: bold;
}

[class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail span{
   color: rgb(252, 147, 10);
   font-size: .9em;
   width: 10%;
}
}
*/

@media only screen and (max-width: 1060px) {
   .imgs-grid-image{
       width: 33.3333% !important;
   }
}

@media only screen and (max-width: 850px) {
   .imgs-grid-image{
       width: 50% !important;
   }
}
@media only screen and (max-width: 390px) {
   .mx-color-trip-guide-person .color-fill{
       width: 40%;
       right: 8%;
   }
}
@media only screen and (max-width: 490px) {

   [class*=GridLex-grid-mx][class*=-equalHeight]>[class*=GridLex-col-mx]{

       display: flex;
       justify-content: start;
       flex-direction: column;
       margin: 0 auto;
   }

   [class*=GridLex-grid-mx] .txt-box-infos{

       width: 100%;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       align-self: center;
       padding-left: 1em;
   }

   [class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail {
       align-self: center;
   }

   [class*=GridLex-grid-mx] .txt-box-infos .mx-txt-detail span{
       align-self: center;
   }

   .mx-color-trip-guide-person {
       height: 90px;
       width: 100%;
   }

   .imgs-grid-image{
   width: 100% !important;
}
   }


   /* design de reservation car */

   .form-group input{
       border-style: solid;
       border-color: rgb(241, 112, 6);
       border-width: 0 0 2px 0;
   }
   .form-group input:focus{
    border-style: solid;
    border-color: rgb(241, 112, 6);
    border-width: 1px 1.5px;
    border-radius: .50rem;
}

.form-group select{
    border-style: solid;
    border-color: rgb(241, 112, 6);
    border-width: 0 0 2px 0;
}
.form-group select:hover{
 border-style: solid;
 border-color: rgb(241, 112, 6);
 border-width: 1px 1.5px;
 border-radius: .50rem;
}
.invalid-feedback-mx{
  color: rgb(231, 4, 4);
  font-size: .9em;
}

.mx-pr{
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   box-shadow: 1px 1px 6px 0px rgba(0,0,0,1);
   border-radius: .90rem;
}

@media only screen and (max-width: 1199px){
.content-wrapper.pr {
    padding-right: 0;
    text-shadow: 0 0 black;
}
}
.mx-pr {
    padding-right: 0px !important;
    text-shadow: 0 0 black;
}

/*** home */
.sec-mx-v2{
    height: 100vh;
}
.mx-bg-v2{
    text-align: center;
    color: #FFF;
    line-height: 1.2;
    padding: 100px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
 clip-path: polygon(0 15%, 100% 0% , 100% 84%, 0% 100%);
 height: 100vh;
}

.mx-bg-v2 button{
    z-index: 99999;
}



 .mx-bg-v2{
     text-align: center;
     color: #FFF;
     line-height: 1.2;
     padding: 100px 0 0;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 5px;
     display: flex;
     flex-direction: column;
     justify-content: start;
  clip-path: polygon(0 10%, 100% 0% , 100% 90%, 0% 100%);
 }

 .mx-bg-v2::before {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background:  linear-gradient(to right, rgb(0, 0, 0) , rgba(77, 77, 77, 0.4) 100%);;
     content: "";
     height: 100vh;
  }
 .mx-bg-v2 h2 {
    color: rgb(255, 102, 0);
    line-height: 1.2;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 600;
 }
 .mx-bg-v2 p{
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
 }
 .mx-bg-v2 a {
        line-height: 36px;
        font-size: 14px;
        padding-top: 0;
        padding: 10px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: rgb(255, 255, 255);
        position: relative;
        font-weight: 700;
        background-color: #1e1f20;
        border: 2px solid rgb(255, 102, 0);
        border-radius: 0 .90rem 0 .90rem;

 }
 .mx-bg-v2 a:hover {
    line-height: 36px;
    font-size: 14px;
    padding-top: 0;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
    position: relative;
    font-weight: 700;
    background:  linear-gradient(to right, rgb(235, 97, 5) , rgba(77, 77, 77, 0.4) 100%);
    border: 3px solid rgb(206, 206, 206);
    border-radius: 0 .90rem 0 .90rem;

}

 .mx-bg-v2 .mx-row{
    margin-right: -15px ;
    margin-left: -15px;
    margin-bottom: 100px;
 }

 .caption-mx-1 .txt1{
     color: #f55d16;
     font-size: 6vw;
     font-weight: bold;
     letter-spacing: 1px;
     text-transform: uppercase;
 }
 .caption-mx-1 .txt2{
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.caption-mx-1 a {
    line-height: 36px;
    font-size: 3vw;
    padding:8px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-left: 14px;
    color: rgb(170, 170, 170);
    font-weight: 700;
    background-color: #1e1f20;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 0 .90rem 0 .90rem;
}


.mx-container-3{
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important ;
    margin-right: 0 !important;
    margin-left: 2px !important;
}
@media screen and (max-width: 1700px){
.caption-mx-1 .txt1{
   font-size: 5vw;
}
.caption-mx-1 .txt2{
    margin-bottom: 10px;
}
}
@media screen and (max-width: 752px){
    .mx-bg-v2::before {
        background:  linear-gradient(to bottom, rgb(0, 0, 0) , rgba(77, 77, 77, 0.4) 100%);
     }
}
@media screen and (max-width: 479px){
    .caption-mx-1 .txt1{
        margin-top: 0;
        margin-bottom: 5%;
        font-size: 34px;
        line-height: 40px;
    }
    }

    /* carasoul */
    .carousel-inner > .item::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
    content: "";
}
